.follower {
  max-width: 720px;
  min-height: 100vh;

  margin: auto;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  color: black;
}

.follower a {
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.follower a:hover {
  transform: translateY(-16px);
}

.follower img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

@media (max-width: 720px) {
  .follower {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .follower {
    grid-template-columns: repeat(2, 1fr);
  }
}
