* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;

  display: inline-block;
  padding: 6px 12px;
  margin: 12px 0;
  background-color: #5353ff;
  color: white;
  border-radius: 4px;
}

.topbar {
  display: flex;
  height: 60px;
  max-width: 720px;
  margin: auto;

  align-items: center;
  justify-content: space-between;
}

.topbar h2 {
  color: #5353ff;
}
